link rel="stylesheet" href="index.css"

.container-fluid ng-app="ZWSim"
  div ng-controller="ZWSimController"

    .bs-callout.bs-callout-info#caption
      h4 説明 ~Description~
      | 新生FF14のゾディアックウェポンのパラメータ振り当て用のシミュレータです
      br
      | 種別をDPS/ヒーラー/ナイト剣or盾から選択して、ノウスのパラメータを割り振ってください
      br
      | そこから、ネクサス及びゾディアックウェポンのボーナス値を表示します
      br
      br
      font color="red" 更新：ナイトのデータをとりあえずですが追加しました


    .bs-callout.bs-callout-info
      h4 種別選択 ~Select for Role/Arms~
      form
        .radio
          - data.types.each do |value,key|
              label.radio-inline
                input type="radio" ng-model="weapon_type" ng-change="type_changed()" name="weapon_type" value="#{value}"
                = key
        
    .bs-callout
      == partial "adsense"
    .bs-callout.bs-callout-success
      h4 計算表 ~Simulate Weapon Parameter~

      - data.param.each do |value,key|
        .panel.panel-default
          .panel-heading
            h5.panel-title
              = key + "- {{weapon.now.#{value}}} / {{weapon.max.#{value}}}"
          .panel-body
            input.form-control type="number" ng-model="weapon.now.#{value}" ng-change="weapon.compute()" min=0 max="{{weapon.max.#{value}}}"
            .progress
              .progress-bar.progress-bar-striped.progress-bar-info ng-style="{width:weapon.now.#{value} + '%'}"
                | {{weapon.now.#{value}}}
              .progress-bar.progress-bar-striped.progress-bar-warning ng-style="{width:(weapon.nexus.#{value}*5)  + '%'}"
                | {{weapon.nexus.#{value}}}
              .progress-bar.progress-bar-striped.progress-bar-danger ng-style="{width:(weapon.zw.#{value}*3) + '%'}"
                | {{weapon.zw.#{value}}}

